.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 180px;
    margin-top: 50px;
  }
  
  .project h1 {
    margin-top: 50px;
   
    color: #3e497a;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium';
  }
  .project img {
    width: 400px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  .project p {
    font-size: 30px;
    color: #5e2159;;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
  }